
.wrapper{
    width: 100%;
    display: flex;
    background-color: chartreuse;
    overflow-x: hidden;
}

.background{
    /* background-image: url('./Media/background.png'); */
    position: absolute;
    /* float: left; */
    /* background-color: darkorange; */
}
.Search{
    top: 20%;
    height: 70%;
    width: 40%;
    margin-left: 60%;
    position: absolute;
    background-color: darkred;
    
}
.input {
    width: 60%;
    height: 60px;
    margin-top: 2%;
    font-family: 'Lato';
    font-size: 20px;
    background-color: darkseagreen;
}

.checkboxs{
    display: flex;
}
.inputs {
    display: flex;
    flex-direction: row;
}
.selectOption{
    width: 150%;
    height: 30%;
    padding: 1%;
    padding-left: 0;
    
}
button{
    width: 30%;
    left: 8%;
}