.background{
    height: 100%;
    width: 100%;
    display: inline;
    background-repeat: no-repeat;
}

.headSignIn {
    color: rgb(66, 66, 66);
    font-weight: lighter;
    margin-left: 0%;
    margin-top: 3%;
    font-size: 300%;
    letter-spacing: 0.2em;
}
.signInContainer {
    background-color:white;
    width: 50%;
    height: 100%;
    /* border-radius: 20px; */
    /* margin-top: 5%; */
    margin-left: 50%;
    display: flex;
    flex-direction: column;
    font-family: 'Lato';
}
.signInContainer p {
    margin-left: 10%;
    margin-top: 1%;
    font-size: 200%;
}
.googleLogIn {
    position: absolute;
    margin-left: 20%;
    margin-top: 35%;
}
p {
    color: #B98E52;
}
.leftbackground {
    position: absolute;
    background-image: url('./Media/background.png');
    background-repeat: no-repeat;
    height: 100%;
    width:50%;
}