.popup {
    background-color: #f1f1f1;
    width: 30%;
    margin: 5% auto;
    border-radius: 10px;
    padding: 1%;
    outline: none;
    font-family: 'Lato';
}
.popup .title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.popup .title .closeBtn {
    width: 10%;
}
.popup .title h1 {
    font-weight: 400;
}
.popup .deatils {
    padding-top: 5%;
    padding-left: 1%;
    width: 85%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 0 auto;
}
.popup .deatils p {
    padding-top: 5%;
}
.popup .divBtn {
    padding-top: 3%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}
.popup .okBtn {
    background-color:  #B98E52;
    border: none;
    border-radius: 30px;
    padding: 1% 0%;
    width: 200px;
}
.popup .okBtn p{
    color: white;
    font-size: 110%;
    
}

